<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Logue com seu Login e Senha!</p>

              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="login" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="typeEmailX">Login</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="typePasswordX">Senha</label>
                <p *ngIf="erroLogin" style="color: red;">Login ou Senha nao encontrado</p>
              </div>


              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="Login()">Login</button>

            </div>

            <div>
              <p class="mb-0">Não tem conta? <a href="#!" class="text-white-50 fw-bold" (click)="CreateLogin()">Cadastrar</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------------------------------------------------------>
<div class="container mt-5" >
    <div class="form-group">
        <label for="login">Email</label>
        <input type="text" class="form-control" name="login" id="login" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="login">Nome Login</label>
        <input type="text" class="form-control" name="login" id="login" placeholder="Nome login" [(ngModel)]="login" [ngModelOptions]="{standalone: true}">
    </div>
      <div class="form-group">
        <label for="pass">Senha</label>
        <input type="password" class="form-control" name="pass" id="pass"  placeholder="Senha" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" (click)="CreateUser()" class="btn btn-primary m-2">Criar</button>
    <button type="submit" (click)="VoltarCadastro()" class="btn btn-secondary m-2">Voltar</button>
</div>

<section class="vh-100 gradient-custom" *ngIf="!mostrarLogin && mostrarCreateLogin">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Cadatro</h2>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="login" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="typeEmailX">Login</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"/>
                <label class="form-label" for="typePasswordX">Senha</label>
                <p *ngIf="loginCriado" style="color: rgb(1, 218, 1);">Usuário Cadastrado</p>
              </div>


              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="CreateUser()">Criar</button>
              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="VoltarCadastro()">Voltar</button>

            </div>

            <div>
              <p class="mb-0">Não tem conta? <a href="#!" class="text-white-50 fw-bold" (click)="CreateLogin()">Cadastrar</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!------------------------------------------------------------------------>
<div class="container mt-5" *ngIf="!mostrarLogin && mostrarGerenciador">
  <app-gerenciador-home></app-gerenciador-home>
</div>