<div class="p-1 bd-highlight align-items-start" *ngIf="numeroCategoria != 0">
  <div class="modal-dialog">
    <!--CARD-->
    <div class="modal-content bg-dark text-white" *ngIf="numeroCategoria == 2">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crie seu Card</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-md-5 mt-md-4 pb-5">

          <div class="form-outline form-white mb-4">
            <input type="email" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="cardName"
              [ngModelOptions]="{standalone: true}" required/>
            <label class="form-label" for="typeEmailX">Nome Card</label>
          </div>

          <div class="form-outline form-white mb-4">
            <textarea type="text" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="cardText"
              [ngModelOptions]="{standalone: true}" required></textarea>
            <label class="form-label" for="typeEmailX">Texto do Card</label>
          </div>

          <div class="form-outline form-white mb-4">
            <label class="mr-1">Prioridade</label>
            <input type="radio" [value]="true" [(ngModel)]="priority" />
            <label class="form-label">Sim</label>
            <input type="radio" [value]="false" [(ngModel)]="priority" />
            <label class="form-label">Não</label>
          </div>

          <div *ngIf="priority">
            <input type="date"
            [(ngModel)]="deadline">
          </div>

          <div *ngIf="infNome">
            <p style="color: red;">Informe o Nome</p>
          </div>
          <div *ngIf="infText">
            <p style="color: red;">Informe o Texto</p>
          </div>
          <div *ngIf="infData">
            <p style="color: red;">Informe o Data</p>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="Voltar()">Voltar</button>
        <button type="button" class="btn btn-primary" (click)="CreateCard()">Salvar</button>
      </div>
    </div>
    <!--EDIT CARD-->
    <div class="modal-content bg-dark text-white" *ngIf="numeroCategoria == 1">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edite seu Card</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-md-5 mt-md-4 pb-5">

          <div class="form-outline form-white mb-4">
            <input type="email" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="card.name"
              [ngModelOptions]="{standalone: true}" />
            <label class="form-label" for="typeEmailX" required>Nome Card</label>
          </div>

          <div class="form-outline form-white mb-4">
            <textarea type="text" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="card.text"
              [ngModelOptions]="{standalone: true}" required></textarea>
            <label class="form-label" for="typeEmailX">Texto do Card</label>
          </div>

          <div class="form-outline form-white mb-1">
            <select class="form-control form-select-sm w-50" [(ngModel)]="card.idTag">
              <option [value]="null" >Nenhum</option>
              <option [value]="1">Revisado</option>
              <option [value]="2">Priorizado</option>
              <option [value]="3">Processamento</option>
              <option [value]="4">Finalizado</option>
              <option [value]="5">Descartado</option>
            </select>
            <label class="form-label" for="typeEmailX">Categorias</label>
          </div>

          <div class="form-outline form-white mb-1">
            <label class="mr-1 form-label m-2">Prioridade:</label>
            <input type="radio" [value]="true" [(ngModel)]="card.priority" />
            <label class="form-label mr-2">Sim</label>
            <input type="radio" [value]="false" [(ngModel)]="card.priority" />
            <label class="form-label mr-2">Não</label>
          </div>

          <div *ngIf="card.priority">
            <input type="date"
            [(ngModel)]="card.deadline">
          </div>

          <div *ngIf="infNome">
            <p style="color: red;">Informe o Nome</p>
          </div>
          <div *ngIf="infText">
            <p style="color: red;">Informe o Texto</p>
          </div>
          <div *ngIf="infData">
            <p style="color: red;">Informe o Data</p>
          </div>

        </div>
      </div>
      <div class="modal-footer d-flex flex-row justify-content-between align-content-center">
        <button type="button" class="btn btn-danger" (click)="ApagarCard()">Apagar</button>
        <div class="gap-2 d-flex flex-row">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="Voltar()">Voltar</button>
          <button type="button" class="btn btn-primary" (click)="SalvarEdit()">Salvar</button>
        </div>
      </div>
    </div>
    
  </div>
</div>